/* Makes the page look way better. Better than your local craigslist! TL/DR UI/UX and learn to read more. */

 body, html {
	/* Handles coloring of the page */
	background-color: #222;
	color: white;
	/* Adds fonts to the page */
	font-family: "Cutive Mono", monospace;
	font-weight: 400;
	font-style: normal;
	/* Limits the width of the page. */
	width: 85%;
	/* Enables smooth scrolling for the whole page...? */
	scroll-behavior: smooth;
}

/* This handles the centering of the page after making it 80% width */

html {
	display: table;
    margin: auto;
	scroll-padding-top: 60px; 
}

body {
	display: table-cell;
    vertical-align: middle;
}

/* Formats links to look better */

a {
  text-align: center;
  text-decoration: none;
  color: #999;
}

/* Thanks W3Schools! https://www.w3schools.com/css/css_navbar_horizontal.asp */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  top: 0;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.nli {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

.active {
  background-color: #04AA6D;
  float:right;
}


